@*Define Model*@
@model IEnumerable<Movie>

@*Define ViewData*@
@{
	ViewData["Title"] = "List of Movies";
}
@*Write code*@
<div class="row">
	<div class="col-md-8 offset-md-2">
		<table class="table">

			<thead class="text-center">
				<tr>
					<th>@Html.DisplayNameFor(model => model.MovieImageURL)</th>
					<th>@Html.DisplayNameFor(model => model.MovieName)</th>
					<th>@Html.DisplayNameFor(model => model.MovieDescription)</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td class="align-middle">
							<img class="rounded-circle" src ="@item.MovieImageURL" alt="@item.MovieName" style="max-width: 150px">
						</td>
						
						<td class="align-middle">
							@Html.DisplayFor(modelItem => item.MovieName)
						</td>
						
						<td class="align-middle">
							@Html.DisplayFor(modelItem => item.MovieDescription)
						</td>
					</tr>
				}
			</tbody>

		</table>
	</div>
</div>